body {
    background-color: white;
    overflow: hidden;
}

h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(80, 80, 80);
    text-align: center;
    width: 2300px;
    height: 80px;
    position: relative;
    left: -223px;
    top: -22px;
}


#imageupz {
    position:relative;
    top: 1600px;
    width: 500px;
    left: 700px;
    
}

#anadir {
    color: black;
    text-align: center;
    background-color: greenyellow;
    position: relative;
    left: 770px;
    top: 100px;
    width: 300px;
    display: none;

}


#grancan {
    position: relative;
    top: 100px;
    width: 1000px;
    height: 600px;
}


.noivo {
padding: 0;
border: none;
background-color: black;
color: white;
font-weight: 1000;
position: relative;
left: 720px;
top: 20px;
}




.lugares {
    padding: 0;
    border: none;
    background-color: black;
    color:  white;
    font-weight: 1000;
    position: relative;
    left: 740px;
    top: 20px;
    }

.lugares:hover {
    color: red;
}

.noivo:hover {
    color: red;
}


.para {
    position: relative;
    top: 100px;
    left: 330px;
}


#fm1 {
    position: relative;
    top: 100px;
    left: 800px;
}

#select {
    position: relative;
    top: 100px;
    left: 800px;
}

#upt {
    position: relative;
    top: 120px;
    left: -10px;
}


#loc {
    width: 300px;
    height: 20px;
}

#loc1 {
    width: 300px;
    height: 20px;
}


#munic {
    width: 300px;
    height: 20px;
    position: relative;
    top: 20px;
}


#munict {
    width: 300px;
    height: 20px;
    position: relative;
    top: 28px;
    left: -310px;
}


#urlinf {
    position: relative;
    top: 100px;
    left: -302px; 
}

#urlinfox {
    position: relative;
    width: 300px;
    height: 20px;
    top: 130px;
    left: -479px;
}

#urlinfox1 {
    position: relative;
    width: 300px;
    height: 20px;
    top: 40px;
    left: -213px;
}


#urlinf1 {
    position: relative;
    top: 20px;
}

#enviar {
    background-color: greenyellow;
    position: relative;
    top: 300px;
    left: 920px;
}

.htext {
    position: relative;
    top: 1000px;
}


table, th, td {
    border:1px solid black;
  }